<%- include('partials/header') %>
<body>
    <header class="header">
        <h1 class="header__title">Greg<span class="header__title--red">.</span>GS</h1>
        <hr class="header__stick">
    </header>
    <main class="main">
        <section class="main__content">
            <ul class="main__content-list">
                <li class="main__content-list--about"><a class="main__content-list--link" href="/about">About</a></li>
                <li class="main__content-list--projects"><a class="main__content-list--link" href="/projects">Projects</a></li>
                <li class="main__content-list--contact"><a class="main__content-list--link" href="/contact">Contact</a></li>
            </ul>
        </section>
        <section class="main__social">
            <a class="main__social-link" href="https://github.com/GregorySaison"><i class="fa fa-2x fa-brands fa-github-square main__social-logo"></i></a>
            <a class="main__social-link" href="https://www.linkedin.com/in/gregory-saison/"><i class="fa fa-2x fa-brands fa-linkedin main__social-logo"></i></a>
            <a class="main__social-link" href="https://twitter.com/ledevnovice"><i class="fa fa-2x fa-brands fa-twitter-square"></i></a>
        </section>
        <img class="main__illustration" src="img/background.png" alt="">
    </main>
    <%- include('partials/footer') %>
</body>
</html>