<%- include('partials/header') %>
<body>
    <header class="header">
        <h1 class="header__title">Projects<span class="header__title--red">.</span>By<span class="header__title--red">.</span>Me</h1>
        <h2 class="header__subtitle">Où la magie opère !</h2>
    </header>  
    <%- include('partials/footer') %>
</body>
</html>