/* GENERAL PROPERTIES */
body {
    display: flex;
    flex-direction: column; 
}

.header__title {
    margin-bottom: 0;
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
}

.header__title--red {
    color: #781e40;
}

.header__stick {
    border: 2px solid #781e40;
}

.main__content-list {
    width: 100%;
    font-family: 'Montserrat', sans-serif;
    list-style-type: none;
    
}

.main__content-list--link {
    text-decoration: none;
    color: #000;
}



/* PORTRAIT ORIENTATION PROPERTIES */
@media only screen and (orientation: portrait) {
    body {
        justify-content: center;
    }

    /* HEADER PROPERTIES */
    .header {
        width: 100%;
        text-align: center;
    }

    .header__title {
        font-size: 16vw;
    }

    .header__stick {
        width: 64%;
        margin: auto;
    }

    /* MAIN PROPERTIES */
    .main {
        width: 100%;
        text-align: center;
    }

    .main__content-list {
        font-size: 8vw;
        padding-inline-start: 0px;
    }

    .main__content-list--cat {
        padding-bottom: 8px;
    }

    .main__social-logo {
        padding-right: 16px;
    }

    .main__illustration {
        display: none;
    }
}



/* LANDSCAPE ORIENTATION PROPERTIES */
@media only screen and (orientation: landscape) {
    body {
        position: relative;
        overflow: hidden;
    }

    /* HEADER PROPERTIES */
    .header {
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        height: 50%;
        z-index: 2;
    }

    .header__title {
        font-size: 4vw;
        text-align: center;
    }

    .header__stick {
        width: 15%;
    }

    /* MAIN PROPERTIES */
    .main {
        height: 50%;
        margin-left: 25vw;
    }

    .main__content-list {
        font-size: 2vw;
    }

    .main__content-list>li {
        width: 12vw;
        text-align: center;
        margin-bottom: 0.3em;
        border-bottom: 3px solid #000;
        opacity: 0.5;
        padding-bottom: 8px;
    }

    .main__content-list>li:hover {
        opacity: 1;
        font-size: 2.5vw;
        transition: 500ms;
        color: #781e40;
        border-bottom: 3px solid #781e40;
        cursor: pointer;
        text-align: center;
        width: 12vw;
    }

    .main__content-list--projects {
        margin-left: 4vw;
    }

    .main__content-list--contact {
        margin-left: 8vw;
    }

    .main__illustration {
        position: fixed;
        right: 0;
        top: 0;
        height: 100vh;
    }

    .main__social {
        position: fixed;
        top: 12px;
        left: 12px;
        color: #781e40;
    }

    .main__social-link {
        text-decoration: none;
        cursor: pointer;
    }

    .fa {
        margin-right: 16px;
    }
}